{% extends "myapp/index.html" %}
{% load static %}
{% block main_section %}
    <div class="col-md-8">
        <h1 class="mt-5 mb-4">Блог</h1>
        {% for post in news %}
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">добавленно : {{ post.date|date:'d E Y/ H:i' }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|safe|truncatechars:200 }}</p>
                    <hr>
                    <div class="row justify-content-md-center align-items-center">
                        <h6 class="col-md-8">добавил : {{ post.user }}</h6>

                    </div>
                </div>
                <a href="{% url 'blog-detail' post.id %}" class="btn btn-outline-warning">подробнее</a>
            </div>
        {% endfor %}
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">начало</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.paginator.num_pages }}">конец</a>
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>

                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock main_section %}

{% block aside_section %}
    {% if infoUser %}
        <aside class="col-md-4 align-items-center mt-5">
            <div class="card" style="width: 250px;height: 350px">
                <img src="{% static 'myapp/fsoc.jpg' %}"
                     class="card-img-top" alt="itologJS">
                <div class="card-body">
                    {% for item in infoUser %}
                        <p class="card-text">
                            {{ item.text }}
                        </p>

                        <a href="{{ item.href }}" target="_blank">перейти на профиль</a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock aside_section %}