{% extends "myapp/index.html" %}
{% block main_section %}
   <div class="col-md-8">
     <h1>CONTACT</h1>
   </div>
{% endblock %}

{% block aside_section %}
    <aside class="col-md-4 align-items-center mt-5">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_0_ljjA6xwBUvWQVGHQEBu_FPq-5JBLGttBAuedCgVM1l2bXsDQ"
                 class="card-img-top" alt="django">
            <div class="card-body">
                <p class="card-text">Python — высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода.</p>
                <a href="https://www.python.org/" target="_blank">python</a>
            </div>
        </div>
    </aside>
{% endblock aside_section %}