{% extends "myapp/index.html" %}
{% load static %}
{% block main_section %}
    <section class="home col">
        <div class="hero__ava">
            <amp-img
                    class="hero__img"
                    src="{% static 'myapp/ava.jpg' %}"
                    width="150"
                    height="150"
                    layout="responsive"
                    alt="hero-img">
            </amp-img>
        </div>
        <div class="home__info">
            <h1>Сергей Романиченко.</h1>
            <h2>Front-end разработчик.</h2>
        </div>
    </section>
{% endblock main_section %}