{% load static %}
{% load compress %}
{% load inline_static_tags %}
{% spaceless %}
<!DOCTYPE html>
<html ⚡ lang="ru">
<head>
    <title>{{ title }}</title>

    {#  ========================  META ============================#}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# ===========================    SEO   ==============================================================   #}
    <meta name="Description" content="Личный блог ItologJS.Frontend developer.Javascript,Python,Java,Kotlin">
    <meta name="og:title" property="og:title" content="ItologJS Blog">
    <meta name="robots" content="index, follow">
    {# =========================== AMP  =====================================   #}
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <link rel="canonical" href=".">

    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    {#  =========================  FAVICON ===============================#}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'myapp/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'myapp/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'myapp/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'myapp/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'myapp/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {#  ==========================  BOOTSTARP ==============================================#}
    {% compress css %}
    <style amp-custom>
        {% inline_style 'myapp/bootstrap.min.css' %}
        {% inline_style 'myapp/main.css' %}
    </style>
    {% endcompress %}
    {#  ========================== MAIN STYLE ==============================================#}
{#    <style amp-custom>{% inline_style 'myapp/main.css' %}</style>#}
    {#   ==========================  GOOGLE ANALITICS =============================   #}
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

</head>
<body class="bg-dark">
 {# ===================  SIDE BAR =======================================   #}
        <amp-sidebar id="sidebar"
                     class="bg-dark"
                     layout="nodisplay"
                     side="left">
            <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
                <li class="nav-item font-weight-bold li-min">
                     <a class="navbar-brand" href="{% url 'home' %}">ItologJS</a>
                </li>
                <li class="nav-item font-weight-bold li-min">
                    <a class="nav-link text-white" href="{% url 'blog' %}" rel="noopener">статьи </a>
                </li>
                {% if  user.is_authenticated %}
                    <li class="nav-item font-weight-bold li-min">
                        <a class="nav-link text-white" href="{% url 'blog-add' %}" rel="noopener">добавить
                            статью</a>
                    </li>
                {% endif %}
            </ul>

            <div class="navbar-nav log">
                {#                    <a href="{% url 'register' %}" class="btn btn-outline-secondary log__link">регистрация</a>#}
                <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary log__link text-white"
                   rel="noopener">войти</a>
            </div>
        </amp-sidebar>
        {# ======================== SIDE BAR END ============================================   #}
<div class="wrapp">
    {#HEADER ========================================================================#}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">ItologJS</a>
            <button on="tap:sidebar.toggle" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="menu">

                    <li class="nav-item font-weight-bold li-min">
                        <a class="nav-link text-white" href="{% url 'blog' %}" rel="noopener">статьи </a>
                    </li>
                    {% if  user.is_authenticated %}
                        <li class="nav-item font-weight-bold li-min">
                            <a class="nav-link text-white" href="{% url 'blog-add' %}" rel="noopener">добавить
                                статью</a>
                        </li>
                    {% endif %}
                </ul>

                <div class="navbar-nav log">
                    {#                    <a href="{% url 'register' %}" class="btn btn-outline-secondary log__link">регистрация</a>#}
                    <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary log__link text-white"
                       rel="noopener">войти</a>
                </div>
            </div>

        </nav>

    </header>
    {#CONTENT ========================================================================#}
    <main class="main mt-5 container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success mt-5">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            {# ==========================   MAIN CONTEN  =====================================================#}
            {% block main_section %}
            {% endblock %}
            {# ==========================   MAIN CONTENT END  ========================================#}
            {# ==========================   SECTION ASIDE     ======================================= #}
            {% block aside_section %}
            {% endblock aside_section %}
            {# ==========================   SECTION ASIDE  END  ======================================= #}
        </div>
    </main>
</div>
{% comment %}=================  GOOGLE ====================={% endcomment %}
<amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
    {
      "vars" : {
        "gtag_id": "UA-82994547-2",
        "config" : {
          "UA-82994547-2": { "groups": "default" }
        }
      }
    }
    </script>
</amp-analytics>
</body>
</html>
{% endspaceless %}